@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap');

/*     font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --orange--: #e67e22;
    --orange--dark--: #d35400;
    --green-light--: #2ecc71;
    --green-dark--: #27ae60;
}

h1 {
    font-size: 72px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #576574;
}

h2 {
    font-size: 64px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #576574;
}

h3 {
    font-size: 38px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #576574;

}
h4{
    color: #576574;;
}

a {
    display: inline-block;
    color: #576574;
}

p {
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #576574;

}

.btn-orange {
    background-color: var(--orange--);
    color: #fff;
    font-size: 20px;
    padding: 7px 30px;
    border-radius: 14px 0;
    transition: all .4s;
}

.btn-orange:hover {
    background-color: var(--orange--dark--);
    color: #fff;
}

.btn-green {
    background-color: var(--green-light--);
    color: #fff;
    width: 25%;
    font-size: 20px;
    padding: 7px 20px;
    border-radius: 14px 0;
    transition: all .4s;
}

.btn-green:hover {
    background-color: var(--green-dark--);
    color: #fff;
}

/* header area */
.header-area {
    background-color: var(--dark--cyan--);
    box-shadow: 0px 0px 3px 0px rgb(91, 98, 104);
}

.header-area .nav-link {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin-right: 20px;
    font-size: 16px;
    color:#576574;;
}

.header-area h4 {
    color: #ec7063;
    font-size: 32px;
}

.header-area h4 span {
    color: #5dade2;
}

i {
    font-size: 12px;
}

.my-bar {
    font-size: 22px;
    transition: .4s;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border-color: transparent;
    box-shadow: none;
    transition: .4s;
}

/*=================================== header end=====================*/
/*=================================== hero start=====================*/
.hero {
    padding: 50px 0 50px 0;
    height: auto;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.my-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-text p {
    margin-block: 30px;
}

.hero .img-fluid {
    object-fit: cover;
    border-radius: 80px 0;
    z-index: 1;

}

.img-border {
    position: relative;
}

.img-border::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 20px;
    left: 20px;
    border: 3px solid var(--orange--dark--);
    border-radius: 80px 0;
}

/*=================================== hero End=====================*/

/*=================================== about-text=====================*/
.about {
    padding-block: 90px;
}

.about-text {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
}

.about h3,
.about p, .about h4{
    color: #576574;
}
.about-img{
    width: 100%;
    border-radius: 120px 0;
    z-index: 1;
}
.about-border{
    position: relative;
}
.about-border::after{
    position: absolute;
    content: '';
    top: -20px;
    left: -20px;
    border-radius: 120px 0;
    width: 100%;
    height: 100%;
    border: 3px solid #576574;
    z-index: -1;
}
.btn-green2 {
    background-color: var(--green-light--);
    color: #fff;
    font-size: 20px;
    padding: 7px 20px;
    border-radius: 14px 0;
    transition: all .4s;
}

.btn-green2:hover {
    background-color: transparent;
    color: #fff;
}
/*=================================== about End=====================*/
/*=================================== data=====================*/
.working {
    padding: 80px 0px;
}

.working h4 {
    font-size: 44px;
    margin: 0 0 20px 0;
}
.working .my-text h2 {
    font-size: 256px !important;
    margin: 0;
    background-image: url(asset/img/text.jpg);
    color: transparent;
    -webkit-background-clip: text;
    background-size: cover;
}

.working-img{
    width: 100%;
    border-radius: 120px 0;
    z-index: 1;
}
.working-border{
    position: relative;
}
.working-border::after{
    position: absolute;
    content: '';
    top: 20px;
    left: 20px;
    border-radius: 120px 0;
    width: 100%;
    height: 100%;
    border: 3px solid #576574;
    z-index: -1;
}

/*=================================== data end=====================*/
/*======================== Client ==================*/
.service-area {
    padding: 80px 0;
    position: relative;
}
.service-area .owl-nav{
    position: absolute;
    top: -36px;
    right: 31px;
    display: inline-block;
}
.service-area .owl-nav span{
    display: inline-block;
    top: 100px;
    width: 30px;
    height: 30px;
    font-size: 45px;
    line-height: 17px;
    color: #646464;
    border-radius: 50%;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.322);
    transition: .4s;
}
.service-area .owl-nav span:hover{
    background-color: #37806b;
    color: #fff;
}
.service-area .owl-nav .owl-next{
    margin-left: 15px;
}
.service-text h4{
    text-transform: uppercase;
    font-size: 24px;
}
.service-box {
    padding: 20px;
    height: auto;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    color: rgb(10, 10, 10);
    padding: 30px 20px;
    display: flex;
    border-radius: 60px 0;
    background: #fff;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.34);
}
.service-box:hover{
    background-color: var(--green-light--);
    color: #fff;
    transition: all .5s ease-in-out;
}
.service-box:hover .icon{
    color: #fff;
}
.service-box p{
    transition: all .5s ease-in-out;
}
.service-box:hover p{
    color: #fff;
}
.service-box:hover h3{
    color: #fff;
}

.icon {
    flex-basis: 20%;
    padding-block: 20px;
    color: #576574;
    transition: all .5s ease-in-out;
}

.service-box i {
    margin-right: 10px;
    font-size: 30px;
}

.service-box h3 {
    font-size: 25px;
    color: #212529;
    transition: all .4s;
    transition: all .5s ease-in-out;
}
.box-text{
    padding-block: 20px;
}
.box-text h3{
    color: #576574;
    transition: all .5s ease-in-out;
}

/* ==========owl cerosel============ */
/* ================Project========================== */
.project{
    padding: 20px 0 80px 0;
}
.project h2{
    font-size: 42px;
    text-align: center;
}
.box-project{
    width: 220px;
    height: 220px;
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.315);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all .4s;
}
.box-project:hover{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.432);
    transform: scale(1.07);
    cursor: pointer;
}
.box-project:hover h3{
    color: #212529;
}
.box-project h3{
    font-size: 66px;
    transition: all .4s;
}
.box-project p{
    font-size: 26px;
}

/* ====================testimolans============= */
.testimolans-area{
    padding: 80px 0;
    position: relative;
}
.testimolans-text h4{
    text-align: center;
    text-transform: uppercase;
}
.testimolans-text h3{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: #212529;
}
.testimolans-box {
    padding: 20px;
    height: auto;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    color: rgb(10, 10, 10);
    padding: 30px 20px;
    display: flex;
    border-radius: 60px 0;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.testimolans-box:hover{
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.44);
    transform: scale(1.01);
}
.testimolans-box:hover .box-text h3,.testimolans-box:hover .box-text p{
    color: #fff;
    transition: all .2s ease-in-out;
}
.testimolans-box::after{
    position: absolute;
    content: '';
    border-radius: 20px 0 0 0;
    top: 0px;
    left: 0;
    height: 100%;
    width: 10px;
    background-color: #06ad4c;
    z-index: -1;
    transition: all .2s;
}
.testimolans-box:hover::after{
    border-radius: 20px 0 0 0;
    height: 100%;
    width: 100%;
    background-color: #2ecc71;
}
.boxing-2::after{
    background-color: #7530e4;
}
.boxing-2:hover::after{
    background-color: #7530e4;
}
.boxing-3::after{
    background-color: rgb(20, 149, 235);
}
.boxing-3:hover::after{
    background-color: rgb(20, 149, 235);
}
.testimolans-box .img img{
    margin-top: 10px;
    width: 100%;
    filter: grayscale(1);
    transition: all .4s ease-in-out;
}
.testimolans-box:hover .img img{
    filter: grayscale(0);
}
.testimolans-box .box-text{
    margin-left: 20px;
}
.testimolans-box .box-text h3{
    color: #212529;
}
.testimolans-area .owl-nav{
    position: absolute;
    top: -36px;
    right: 31px;
}
.testimolans-area .owl-nav span{
    display: inline-block;
    top: 100px;
    width: 30px;
    height: 30px;
    font-size: 45px;
    line-height: 17px;
    color: #646464;
    border-radius: 50%;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.322);
    transition: .4s;
}
.testimolans-area .owl-nav span:hover{
    background-color: #37806b;
    color: #fff;
}
.testimolans-area .owl-nav .owl-next{
    margin-left: 15px;
}
/* ==================Latesh========== */
.latest-news{
    padding: 80px;
}
.latesh img{
    width: 90%;
    object-fit: cover;
    border-radius: 100px 0;
    z-index: 1;
}
.latesh-img{
    position: relative;
    margin-bottom: 40px;
}
.latesh-img::after{
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    width: 90%;
    height: 100%;
    border: 4px solid #06ad4c;
    border-radius: 100px 0;
    z-index: -1;
}
.latesh-text h4{
    text-align: center;
}
.latesh-text h2{
    text-align: center;
    color: #212529;
    margin-bottom: 40px;
}

/* =================subscription ===========*/
.subscription{
    background:url(asset/img/bg\ \(3\).jpg);
    padding: 90px;
    background-attachment: fixed;
    position: relative;
    background-position: center;
    z-index: -2;
    overflow: hidden;
}
.subscription::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.651);
    z-index: -1;
}
.subscription h3{
    color: #eee;
    text-transform: uppercase;
    text-align: center;
}
.subscription p{
    color: #eee;
    text-transform: capitalize;
    margin-block: 30px;
    text-align: center;
}
.input input{
    width: 74%;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px 0 0 0;
    background-color: #b1b4b2;
    font-size: 20px;
}
.input input::placeholder{
    color: #fff;
}
.input button{
    width: 25%;
    border: none;
    padding: 10px;
    border-radius: 0 0 30px 0;
    background-color: #06ad4c;
    color: #fff;
    font-size: 20px;
}
/* ================footer================ */
footer{
    background-color: #a1a9b1;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    flex-wrap: wrap;
}

.footer-item {
    flex-basis: 18%;
}

.footer-item p {
    color: #212529;
    font-size: 16px;
    margin-block: 10px;
}

.footer-item ul li {
    color: #212529;
    margin-bottom: 12px;
}

.footer-item ul li:first-child {
    font-size: 24px;
    font-weight: 700;
}

.footer-item h3 {
    font-size: 28px;
}
.footer-icon ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}
.footer-icon ul li{
    background-color: #212529;
    border-radius: 50%;
    transition: all.4s;
    border: 2px solid #212529;
}
.footer-icon ul li a{
    display: inline-block;
    transform: scale(1.7);
    width: 40px;
    height: 40px;
    line-height: 35px;
    color: #88939e;
    text-align: center;
    transition: all.4s;
}
.a-height{
    transform: translateY(-2px);
}
.footer-icon ul li:hover{
    background-color: #fff;
    transform: scale(1.1);
}
.footer-icon ul li:hover a{
    color: #212529
}
.footer-item h3{
    color: rgb(20, 19, 19);
}

/* ==========================Footer bottom ================*/